*{
    margin: 0;
    padding: 0;
}
/*商品展示*/
.shopList{
    border:1px solid #aaa;
}
.shop_name{
    /*font-size: 10px;*/
    position: relative; min-height: 3.0em; max-height: 3.0em;overflow: hidden;line-height: 1.5em;
}
.shop_name::after{content: "..."; position: absolute; bottom: 0; right: 0; padding-left: 40px;
    background: -webkit-linear-gradient(left, transparent, #fff 55%);
    background: -o-linear-gradient(right, transparent, #fff 55%);
    background: -moz-linear-gradient(right, transparent, #fff 55%);
    background: linear-gradient(to right, transparent, #fff 55%);
}
/*footer*/
.footer{
    background-color : #f8f8f8;
}